<% if @result.available?  %>
  <span class="success">Success! The postcode <%= @result.canonical_postcode %> is available.</span>
<% else %>
  <span class="warning">Oh no! The postcode <%= @result.canonical_postcode %> is not available at this point.</span>
<% end %>
