<% if @postcode_validation.available?  %>
  <span class="success">Success! The postcode <%= @postcode_validation.postcode %> is available.</span>
<% else %>
  <span class="warning">Oh no! The postcode <%= @postcode_validation.postcode %> is not available at this point.</span>
<% end %>
